html p, html li, html a {
  font-size: 15px;
  list-style: none;
  text-decoration: none;
  line-height: 22px;
  font-family: 'Kosugi Maru',"Meiryo", "Hiragino kaku Gothic ProN", sans-serif;
  color: #555555;
}

html h2 {
  font-size: 30px;
  font-family: 'Kosugi Maru',"Meiryo", "Hiragino kaku Gothic ProN", sans-serif;
  color: #555555;
  font-family: "Hiragino kaku Gothic ProN", sans-serif;
}

html h3 {
  font-size: 20px;
  font-family: 'Kosugi Maru',"Meiryo", "Hiragino kaku Gothic ProN", sans-serif;
  color: #555555;
}

html img {
  -o-object-fit: cover;
     object-fit: cover;
}

.fbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .pc-only {
    display: none;
  }
}

@media (min-width: 1025px) {
  .sp-only {
    display: none;
  }
}

header {
  width: 100vw;
  height: 100px;
  position: fixed;
  background-color: white;
  z-index: 100;
}

@media (max-width: 1024px) {
  header {
    height: 50px;
  }
}

@media (min-width: 560px) and (max-width: 1024px) {
  header {
    height: 100px;
  }
}

.logo {
  width: 15%;
  height: 100%;
  text-align: center;
}

@media (max-width: 1024px) {
  .logo {
    width: 30%;
    z-index: 1000;
  }
}

.logo img {
  height: 100%;
  width: auto;
}

.search-box {
  width: 30%;
  height: 100%;
}

.search-box #form1 {
  position: relative;
  max-width: 270px;
}

@media (min-width: 1025px) {
  .search-box #form1 {
    margin-bottom: 15px;
  }
}

@media (max-width: 1024px) {
  .search-box #form1 {
    position: inherit;
    margin: 10px auto;
  }
}

.search-box #sbox {
  position: absolute;
  outline: 0;
  height: 50px;
  width: 300px;
  padding: 0 10px;
  border: 1px solid #D7D2CC;
  border-radius: 20px;
  background-color: #fff;
}

@media (min-width: 1025px) {
  .search-box #sbox {
    left: 41px;
    top: 20px;
  }
}

@media (max-width: 1024px) {
  .search-box #sbox {
    margin: auto;
    height: 40px;
    width: 90vw;
    left: 0;
  }
  .search-box #sbox::-webkit-input-placeholder {
    font-size: 12px;
  }
  .search-box #sbox:-ms-input-placeholder {
    font-size: 12px;
  }
  .search-box #sbox::-ms-input-placeholder {
    font-size: 12px;
  }
  .search-box #sbox::placeholder {
    font-size: 12px;
  }
}

.search-box #sbtn {
  width: 70px;
  position: absolute;
  border-radius: 0 20px 20px 0;
  background-color: #8B7F78;
  border: none;
  color: #fff;
  font-weight: bold;
}

@media (min-width: 1025px) {
  .search-box #sbtn {
    height: 50px;
    left: 270px;
    top: 20px;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .search-box #sbtn {
    height: 40px;
    width: 20vw;
    left: 80%;
    font-size: 12px;
  }
}

.search-box #sbtn:hover {
  color: #666;
}

.pc-nav {
  width: 55%;
  height: 100%;
  padding: 30px 20px;
}

.pc-nav ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pc-nav ul li {
  font-size: 0.9rem;
  margin: 0px 20px;
}

.pc-nav ul li:hover {
  font-weight: bold;
  color: #EE7325;
}

#nav-toggle {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #F2646E;
}

@media (min-width: 560px) and (max-width: 1024px) {
  #nav-toggle {
    width: 100px;
    height: 100px;
  }
}

#nav-toggle div {
  position: relative;
  width: 25px;
  height: 50px;
  margin: 0 auto;
}

@media (min-width: 560px) and (max-width: 1024px) {
  #nav-toggle div {
    width: 50px;
    height: 100px;
  }
}

#nav-toggle div span {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #fff;
  position: absolute;
  -webkit-transition: top .5s ease, -webkit-transform .3s ease-in-out;
  transition: top .5s ease, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, top .5s ease;
  transition: transform .3s ease-in-out, top .5s ease, -webkit-transform .3s ease-in-out;
  /* #nav-toggle close */
}

#nav-toggle div span:nth-child(1) {
  top: 17px;
}

#nav-toggle div span:nth-child(2) {
  top: 25px;
}

#nav-toggle div span:nth-child(3) {
  top: 33px;
}

#nav-toggle div span:nth-child(3):hover span:nth-child(1) {
  top: 4px;
}

#nav-toggle div span:nth-child(3):hover span:nth-child(3) {
  top: 23px;
}

@media (min-width: 560px) and (max-width: 1024px) {
  #nav-toggle div span:nth-child(1) {
    top: 30px;
  }
  #nav-toggle div span:nth-child(2) {
    top: 50px;
  }
  #nav-toggle div span:nth-child(3) {
    top: 70px;
  }
  #nav-toggle div span:nth-child(3):hover span:nth-child(1) {
    top: 4px;
  }
  #nav-toggle div span:nth-child(3):hover span:nth-child(3) {
    top: 23px;
  }
}

.open #nav-toggle span:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open #nav-toggle span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}

.open #nav-toggle span:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 560px) and (max-width: 1024px) {
  .open #nav-toggle span:nth-child(1) {
    top: 50px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .open #nav-toggle span:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 50px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

/*  */
#nav-toggle {
  z-index: 1000;
}

#gloval-nav nav {
  z-index: 999;
  overflow: scroll;
}

#gloval-nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  padding-left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.open #gloval-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#gloval-nav a {
  display: inline-block;
  color: #000;
  width: 80%;
  text-decoration: none;
  padding: 10px 0;
  -webkit-transition: color .6s ease;
  transition: color .6s ease;
}

#gloval-nav ul {
  list-style: none;
}

@media (max-width: 1024px) {
  #gloval-nav ul .cat__menu__item {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    -webkit-transition: -webkit-transform 1.3s ease;
    transition: -webkit-transform 1.3s ease;
    transition: transform 1.3s ease;
    transition: transform 1.3s ease, -webkit-transform 1.3s ease;
    position: relative;
    background: #F0EBE4;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-bottom: 1px;
  }
  #gloval-nav ul .cat__menu__item p {
    padding: 1rem;
  }
  #gloval-nav ul .cat__menu__item a:nth-of-type(1) {
    padding: 1.3rem;
  }
  #gloval-nav ul .cat__menu__item a:last-of-type {
    padding: 1.3rem;
  }
  #gloval-nav ul .cat__menu__item .cat__menu__item__link {
    color: #000;
    display: block;
    line-height: 30px;
    padding: 1rem;
    position: relative;
    border-bottom: 1px solid #f7f7f7;
  }
  #gloval-nav ul .cat__menu__item .cat__menu__item__link .cat__menu__item__title {
    display: inline-block;
    width: 90%;
  }
  #gloval-nav ul .cat__menu__item .cat__menu__item__link .cat__menu__item__title img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
  #gloval-nav ul .cat__menu__item .cat__menu__item__link .fa-plus {
    display: inline-block;
    width: 5%;
    text-align: right;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  #gloval-nav ul .cat__menu__item .cat__menu__item__link .open {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #gloval-nav ul .cat__menu__item .cat__submenu {
    background: #E6E1DB;
    display: none;
  }
  #gloval-nav ul .cat__menu__item .cat__submenu .cat__submenu__item {
    border-bottom: 1px solid #f5f5f5;
    color: #222;
    padding: 0.5rem;
  }
  #gloval-nav ul .cat__menu__item .cat__submenu .cat__submenu__item a {
    display: inline-block;
  }
  #gloval-nav ul .cat__menu__item .cat__submenu .cat__submenu__item img {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
  }
}

#gloval-nav ul li {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1.3s ease;
  transition: -webkit-transform 1.3s ease;
  transition: transform 1.3s ease;
  transition: transform 1.3s ease, -webkit-transform 1.3s ease;
  position: relative;
}

#gloval-nav ul li:hover:after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.open #gloval-nav li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.fa-plus:before {
  font-size: 20px;
  vertical-align: middle;
}

#nav-cart {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 51px;
  background-color: #F2646E;
  z-index: 1000;
}

@media (min-width: 560px) and (max-width: 1024px) {
  #nav-cart {
    width: 100px;
    height: 100px;
    right: 101px;
  }
}

#nav-cart a {
  width: 100%;
  height: 100%;
}

#nav-cart a i {
  font-size: 20px;
  color: #ffffff;
  margin: 15px;
}

@media (min-width: 560px) and (max-width: 1024px) {
  #nav-cart a i {
    font-size: 50px;
    margin: 25px;
  }
}

footer {
  width: 100%;
  position: relative;
  top: 100px;
  z-index: 99;
}

footer .w-inner {
  height: 100%;
  width: 100%;
}

footer .w-inner .cont-inner {
  width: 100%;
  height: 100%;
  padding: 3rem;
}

@media (max-width: 1024px) {
  footer .w-inner .cont-inner {
    padding: 1rem;
  }
}

footer .w-inner .cont-inner .fot-info {
  width: 100%;
  height: 80%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  footer .w-inner .cont-inner .fot-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 560px) and (max-width: 1024px) {
  footer .w-inner .cont-inner .fot-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .w-inner .cont-inner .fot-info div {
  width: 300px;
  height: 290px;
  position: relative;
  background-color: #fff;
  padding: 2rem;
  margin: 1rem;
}

@media (max-width: 1024px) {
  footer .w-inner .cont-inner .fot-info div {
    width: 100%;
    height: 250px;
    padding: 1rem;
    margin: 1rem 0;
  }
}

@media (min-width: 560px) and (max-width: 1024px) {
  footer .w-inner .cont-inner .fot-info div {
    width: 30%;
    margin: 1rem;
  }
}

footer .w-inner .cont-inner .fot-info div h3 {
  font-size: 1rem;
  border-bottom: 2px solid #a1a1a1;
  margin: 1rem 0;
}

@media (min-width: 560px) and (max-width: 1024px) {
  footer .w-inner .cont-inner .fot-info div h3 {
    font-size: 0.9rem;
  }
}

footer .w-inner .cont-inner .fot-info div .tel {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 5px 0px;
}

@media (min-width: 560px) and (max-width: 1024px) {
  footer .w-inner .cont-inner .fot-info div .tel {
    font-size: 0.9rem;
  }
}

@media (min-width: 560px) and (max-width: 1024px) {
  footer .w-inner .cont-inner .fot-info div p {
    font-size: 0.7rem;
  }
}

footer .w-inner .cont-inner .fot-logo {
  text-align: center;
  margin: 0 auto;
}

footer .w-inner .cont-inner .fot-logo img {
  height: 50px;
  width: auto;
}

footer .w-inner .cont-inner ul {
  height: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .w-inner .cont-inner ul li {
  display: inline-block;
  border-left: 1px solid #f7f7f7;
  margin: 0 1rem;
}

#copyright {
  text-align: center;
  padding-top: 20px;
  font-size: 0.6em;
}

.btn-sticky {
  position: absolute;
  width: 200px;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;
  color: #ff7c5c;
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn-sticky:active {
  -webkit-box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
          box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.sidebar {
  width: 200px;
  height: calc(100vh - 100px);
  position: fixed;
  top: 100px;
  background-color: #F0EBE4;
  z-index: 98;
}

.sidebar ul {
  padding: 40px 0px;
}

.sidebar ul li {
  margin: 0px auto;
  padding: 10px 20px;
}

.sidebar ul li:hover {
  background-color: #E6E1DB;
  font-weight: 700;
}

.sidebar ul li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sidebar ul li a {
  vertical-align: top;
  line-height: 2;
}

.sidebar ul li .nav-child {
  visibility: hidden;
  position: fixed;
  top: 100px;
  left: 200px;
  width: 200px;
  height: 100vh;
  background-color: #E6E1DB;
}

.sidebar ul li .nav-child li > a:hover {
  color: #EE7325;
}

@media (min-width: 1025px) {
  .main {
    width: calc(100vw - 200px);
    position: relative;
    top: 50px;
    left: 200px;
    background-color: #F7F3ED;
  }
}

@media (max-width: 1024px) {
  .main {
    width: 100vw;
  }
}

.w-inner {
  background-color: #F7F3ED;
  width: 100%;
  margin: 0 auto;
}

.cont-inner {
  background-color: #F7F3ED;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .cont-inner {
    max-width: 1180px;
  }
}

@media (max-width: 1024px) {
  .cont-inner {
    width: 95%;
    padding: 0.1rem;
  }
}

.sec-title {
  width: 100%;
  height: 150px;
  padding: 50px;
  text-align: center;
}

.sec-title p {
  color: #EE7325;
}

.item-contents {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}

@media (min-width: 1025px) {
  .item-contents {
    width: 300px;
    height: 350px;
    margin: 10px;
  }
}

@media (max-width: 1024px) {
  .item-contents {
    width: 90vw;
    height: 300px;
    margin: 0px auto 20px;
  }
}

@media (min-width: 560px) and (max-width: 1024px) {
  .item-contents {
    width: 43vw;
  }
}

.item-contents:hover .item-txt {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #F0EBE4;
}

.item-contents:hover .item-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0.7;
}

.item-img {
  width: 100%;
  height: 65%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  background-color: #ffffff;
}

.item-img img {
  max-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px 10px 0px 0px;
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.item-txt {
  width: 100%;
  height: 35%;
  padding: 10px;
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
}

@media (max-width: 1024px) {
  .item-txt {
    padding: 10px;
  }
}

.item-txt h3 {
  font-size: 1.2rem;
  line-height: initial;
}

@media (min-width: 1025px) {
  .item-txt p {
    font-size: 0.9rem;
    padding: 0.7rem 0;
  }
}

@media (max-width: 1024px) {
  .item-txt p {
    font-size: 0.8rem;
    padding: 0.3rem 0;
  }
}

.pickup-wrapper {
  position: relative;
}

@media (min-width: 1025px) {
  .pickup-wrapper {
    width: calc(100vw - 200px);
    top: 100px;
    left: 200px;
    max-width: 2000px;
  }
}

@media (max-width: 1024px) {
  .pickup-wrapper {
    width: 100%;
    position: relative;
    top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 560px) and (max-width: 1024px) {
  .pickup-wrapper {
    top: 100px;
  }
}

.pickup-wrapper .main-visual {
  width: 100%;
}

@media (min-width: 1025px) {
  .pickup-wrapper .main-visual {
    height: 100%;
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .pickup-wrapper .main-visual {
    height: 34%;
  }
}

.pickup-wrapper .main-visual img {
  width: 100%;
  height: 100%;
}

.pickup-wrapper .main-visual img:hover {
  opacity: 0.7;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sel-wrapper {
  width: 100%;
  margin: 50px auto;
}

.sel-wrapper ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1025px) {
  .sel-wrapper ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1024px) {
  .sel-wrapper ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 560px) and (max-width: 1024px) {
  .sel-wrapper ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.clas-wrapper {
  width: 100%;
  margin: 50px auto;
}

@media (max-width: 1024px) {
  .clas-wrapper {
    width: 100%;
  }
}

.clas-wrapper ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1025px) {
  .clas-wrapper ul .item-contents {
    width: 300px;
    height: 250px;
  }
}

@media (max-width: 1024px) {
  .clas-wrapper ul .item-contents {
    width: 45vw;
    height: 45vw;
    margin: 3px;
  }
}

@media (min-width: 560px) and (max-width: 1024px) {
  .clas-wrapper ul .item-contents {
    width: 30vw;
    height: 30vw;
    margin: 5px;
  }
}

.clas-wrapper ul .item-img {
  height: 80%;
}

.clas-wrapper ul .item-img img {
  margin: 0 auto;
  max-height: 100%;
  width: auto;
}

.clas-wrapper ul .item-txt {
  background-color: #faf4eb;
  height: 20%;
  padding: 7px;
}

.clas-wrapper ul .item-txt h3 {
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .clas-wrapper ul .item-txt h3 {
    font-size: 3vw;
    line-height: initial;
  }
}

@media (min-width: 560px) and (max-width: 1024px) {
  .clas-wrapper ul .item-txt h3 {
    font-size: 1rem;
  }
}

.cat__wrapper {
  width: 100%;
}

.cat__wrapper .w-inner {
  background-color: #ffffff;
}

.cat__wrapper .w-inner .cont-inner {
  background-color: #ffffff;
}

.cat__wrapper .w-inner .cont-inner .sec-title {
  background-color: #fff;
}

.cat__wrapper .w-inner .cont-inner .cat__menu {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  .cat__wrapper .w-inner .cont-inner .cat__menu__item {
    background: #ffffff;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item p {
    padding: 1.5rem;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__menu__item__link {
    color: #000;
    display: block;
    line-height: 30px;
    padding: 1rem;
    position: relative;
    font-weight: bold;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__menu__item__link img {
    width: 60px;
    height: 60px;
    vertical-align: middle;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__menu__item__link .fa-plus {
    display: none;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__submenu {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__submenu .cat__submenu__item {
    width: 33%;
    color: #222;
    padding: 0.5rem;
    margin: 10px 0;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__submenu .cat__submenu__item a {
    display: inline-block;
    font-size: 13px;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__submenu .cat__submenu__item a:hover {
    font-weight: bold;
    color: #EE7325;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__submenu .cat__submenu__item img {
    display: inline-block;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-right: 20px;
  }
}

@media (max-width: 1024px) {
  .cat__wrapper .w-inner .cont-inner .cat__menu__item {
    background: #ffffff;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-bottom: 1px;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item p {
    padding: 1rem;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__menu__item__link {
    color: #000;
    display: block;
    line-height: 30px;
    padding: 1rem 0;
    position: relative;
    border-bottom: 1px solid #f7f7f7;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__menu__item__link .cat__menu__item__title {
    display: inline-block;
    width: 90%;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__menu__item__link .cat__menu__item__title img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__menu__item__link .fa-plus {
    display: inline-block;
    width: 5%;
    text-align: right;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__menu__item__link .open {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__submenu {
    background: #fff;
    display: none;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__submenu .cat__submenu__item {
    border-bottom: 1px solid #f5f5f5;
    color: #222;
    padding: 0.5rem;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__submenu .cat__submenu__item a {
    display: inline-block;
    width: 100%;
  }
  .cat__wrapper .w-inner .cont-inner .cat__menu__item .cat__submenu .cat__submenu__item img {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=index.css.map */